@charset "UTF-8";.news_item[data-id="r1722"],.news_item[data-id="r1750"],.news_item[data-id="r1722"],.news_item[data-id="r1735"],.news_item[data-id="r1746"],.news_item[data-id="r1731"]{display:none !important}#likes-post-9352032 .LikeText:before{content:'Chary,';font-weight:700}#WMTBRANDCR{display:none}.breadcrumb span.prefix, .heading
span.prefix{background:none !important;background-color:none !important}.generalNotice{color:rgb(253, 253, 253);font-weight:600;background-color:rgb(66, 134, 214) !important;margin:5px
0;padding:10px;border-radius:8px}.sidePanel__mediaObjectList .listItem.unread,
.sidePanel__mediaObjectList
.listItem.unviewed{background-color:rgba(255, 255, 255, 0.07) !important;box-shadow:inset 3px 0px rgb(246, 151, 27)}.username
span{background-color:unset !important}.customStyle:not(.preset_undefined) a:link,
.customStyle:not(.preset_undefined) a:visited,
.customStyle:not(.preset_undefined) .discussionListItem.deleted .secondRow > *,
.customStyle:not(.preset_undefined) .xenOverlay.memberCard,
.customStyle:not(.preset_undefined) .xenOverlay.memberCard .userInfo .userStats,
.customStyle:not(.preset_undefined) .messageSimple .publicControls
.item{color:inherit}.customStyle:not(.preset_undefined) .xenOverlay,
.customStyle:not(.preset_undefined) .xenOverlay *:not(.primary):not(.patron_title){background-color:inherit !important}.customStyle:not(.preset_undefined) .tabs li.active a,
.customStyle:not(.preset_undefined) .tabs.noLinks li.active,
.customStyle:not(.preset_undefined) a.callToAction span,
.customStyle:not(.preset_undefined) .navigationSideBar .heading,
.customStyle:not(.preset_undefined) .downloadButton .inner,
.customStyle:not(.preset_undefined) .redactor_box .draftNotice
span{-webkit-box-shadow:none;box-shadow:none}.customStyle:not(.preset_undefined) .mainPanelWrapper :not(.onlineMarker):not(.navLink),
.customStyle:not(.preset_undefined) .Menu *, .customStyle:not(.preset_undefined) .xenOverlay *,
.customStyle:not(.preset_undefined) .xenPreviewTooltip,
.customStyle:not(.preset_undefined) .previewTooltip .posterDate,
.customStyle:not(.preset_undefined) .redactor_dropdown,
.customStyle:not(.preset_undefined) #InlineModOverlay,
.customStyle:not(.preset_undefined) #InlineModOverlay
*{border-color:rgb(0, 0, 0) !important;border-color:rgba(0, 0, 0, 0.1) !important;_border-color:rgb(0, 0, 0) !important;border-top-color:rgb(0, 0, 0) !important;border-top-color:rgba(0, 0, 0, 0.1) !important;_border-top-color:rgb(0, 0, 0) !important}.customStyle:not(.preset_undefined) .arrow{border-top-color:rgb(0, 0, 0) !important;border-top-color:rgba(0, 0, 0, 0.1) !important;_border-top-color:rgb(0, 0, 0) !important}.customStyle:not(.preset_undefined) .quickReply.message.sectionMain,
.customStyle:not(.preset_undefined) table.dataTable tbody tr,
.customStyle:not(.preset_undefined) #portal_left_navigation,
.customStyle:not(.preset_undefined) body .itemPageNav a,
.customStyle:not(.preset_undefined) body .itemPageNav span,
.customStyle:not(.preset_undefined) body .itemPageNav a:hover,
.customStyle:not(.preset_undefined) .uix_signatureCover,
.customStyle:not(.preset_undefined) .quoteExpand{background:transparent !important;background-color:transparent !important}.customStyle:not(.preset_undefined) .discussionList
.discussionListItem.deleted{background-color:rgba(255, 0, 0, 0.3) !important}.customStyle:not(.preset_undefined) .profilePage .primaryUserBlock .userStatus:after,
.customStyle:not(.preset_undefined) #plat_icons:after{display:none}.customStyle:not(.preset_undefined) table.dataTable tbody tr.even,
.customStyle:not(.preset_undefined) .messageResponse .commentMore,
.customStyle:not(.preset_undefined) .Menu .secondaryContent,
.customStyle:not(.preset_undefined) .xenPreviewTooltip .section,
.customStyle:not(.preset_undefined) .xenPreviewTooltip .sectionMain,
.customStyle:not(.preset_undefined) .xenPreviewTooltip .primaryContent,
.customStyle:not(.preset_undefined) .xenPreviewTooltip .secondaryContent,
.customStyle:not(.preset_undefined) #memberStatsTable th,
.customStyle:not(.preset_undefined) .ipToolsResultTable tr.alt,
.customStyle:not(.preset_undefined) .logResultTable tr.alt,
.customStyle:not(.preset_undefined) #memberResultsTable tr.alt,
.customStyle:not(.preset_undefined) #memberStatsTable tr.alt,
.customStyle:not(.preset_undefined) .bbCode>dl>.baseHtml,
.customStyle:not(.preset_undefined) .bbCode>dl>dd,
.customStyle:not(.preset_undefined) .tabsBb ul.tabsContent,
.customStyle:not(.preset_undefined) .bbCodeSpoilerText,
.customStyle:not(.preset_undefined) .xenOverlay.memberCard .userLinks a:not(.primary){background-color:rgba(0, 0, 0, 0.2) !important}.customStyle:not(.preset_undefined) a.navLink[href]:hover,
.customStyle:not(.preset_undefined) #QuickSearchPlaceholder:hover,
.customStyle:not(.preset_undefined) .profilePage .tabs.mainTabs li a:hover,
.customStyle:not(.preset_undefined) .xenOverlay.memberCard .userLinks a:hover{color:inherit !important}.customStyle:not(.preset_undefined) .button:hover,
.customStyle:not(.preset_undefined) a.callToAction:hover,
.customStyle:not(.preset_undefined) .xenOverlay.memberCard .userLinks a.primary:hover,
.customStyle:not(.preset_undefined) .tabs li:hover a,
.customStyle:not(.preset_undefined) .featured_item a:hover h2,
.customStyle:not(.preset_undefined) .review_boxart:hover
.review_title{-webkit-filter:brightness(1.1);filter:brightness(1.1)}.customStyle:not(.preset_undefined) .featured_item h2,
.customStyle:not(.preset_undefined) #reviews .review_title,
.customStyle:not(.preset_undefined) a.callToAction span,
.customStyle:not(.preset_undefined) .button,
.customStyle:not(.preset_undefined) a.button,
.customStyle:not(.preset_undefined) .secondaryContent .button,
.customStyle:not(.preset_undefined) .xenOverlay.timedMessage .content,
.customStyle:not(.preset_undefined) .PageNav
a.currentPage{color:rgb(253, 253, 253)}.customStyle:not(.preset_undefined) .sidePanel .statusPoster .StatusEditor:focus{background-color:transparent}.customStyle:not(.preset_undefined) #game_table{color:rgba(255, 255, 255, 0.7) !important}@media (max-width:600px){.customStyle:not(.preset_undefined).Responsive
.messageUserBlock{background-color:rgba(0, 0, 0, 0.1) !important}}.customStyle.preset_dark-mode .username .style4,
.customStyle.preset_just-black .username
.style4{color:#0064ff}.customStyle.preset_dark-mode .username .style12,
.customStyle.preset_just-black .username
.style12{color:#c300c3}.customStyle.preset_dark-mode .username .style15,
.customStyle.preset_just-black .username
.style15{color:#686868}.customStyle.preset_just-black .mainPanelWrapper :not(.onlineMarker):not(.navLink),
.customStyle.preset_just-black .xenOverlay,
.customStyle.preset_just-black .Menu *, .customStyle .xenOverlay *,
.customStyle.preset_just-black .xenPreviewTooltip,
.customStyle.preset_just-black .previewTooltip .posterDate,
.customStyle.preset_just-black .redactor_dropdown,
.customStyle.preset_just-black #InlineModOverlay,
.customStyle.preset_just-black #InlineModOverlay
*{border-color:#38485b !important;border-top-color:#38485b !important}.customStyle.preset_just-black .xenOverlay,
.customStyle.preset_just-black .breadBoxTop,
.customStyle.preset_just-black .Menu,
.customStyle.preset_just-black .mainContent > .section.sectionMain,
.customStyle.preset_just-black #gbatemp_portal_header,
.customStyle.preset_just-black .portal_block > .block_content,
.customStyle.preset_just-black .portal_block > .secondaryContent > .block_content,
.customStyle.preset_just-black #content .xenForm,
.customStyle.preset_just-black .sidebar .section > .secondaryContent,
.customStyle.preset_just-black .message .messageInfo,
.customStyle.preset_just-black .discussionList,
.customStyle.preset_just-black .prefixListPrefixes,
.customStyle.preset_just-black #QuickReply,
.customStyle.preset_just-black .who_is_viewing_list,
.customStyle.preset_just-black .similarThreads,
.customStyle.preset_just-black .forum_list .nodeList .nodeList,
.customStyle.preset_just-black .forum_view .nodeList,
.customStyle.preset_just-black .category_view .nodeList,
.customStyle.preset_just-black .watch_forums .nodeList,
.customStyle.preset_just-black .thread_view .PollContainer .secondaryContent,
.customStyle.preset_just-black .primaryUserBlock,
.customStyle.preset_just-black .profilePage .profilePoster .messageInfo,
.customStyle.preset_just-black .messageSimple .messageInfo,
.customStyle.preset_just-black #recentActivity,
.customStyle.preset_just-black .searchResults,
.customStyle.preset_just-black #resources,
.customStyle.preset_just-black #member_blog_entries,
.customStyle.preset_just-black #info .section>.primaryContent,
.customStyle.preset_just-black table.dataTable,
.customStyle.preset_just-black .gbatemp_dynamic_view .mainContent>.sectionMain,
.customStyle.preset_just-black .category_review_feature,
.customStyle.preset_just-black .rcContent .section.sectionMain,
.customStyle.preset_just-black .gcBlock,
.customStyle.preset_just-black .navigationSideBar .heading,
.customStyle.preset_just-black .navigationSideBar > ul,
.customStyle.preset_just-black .commentsList .balloon,
.customStyle.preset_just-black .gbatemp_ask_overview .nodeList .nodeList,
.customStyle.preset_just-black #main_question .sectionMain,
.customStyle.preset_just-black .categoryGrid .category,
.customStyle.preset_just-black .resourceListMain,
.customStyle.preset_just-black .resourceUpdate,
.customStyle.preset_just-black .entries .entry,
.customStyle.preset_just-black .blogEntry,
.customStyle.preset_just-black .mainContentBlock:not(.rcContent),
.customStyle.preset_just-black .bbCodeHeader
.customStyle.preset_just-black{box-shadow:0px 0px 0 1px #38485b !important}.customStyle.preset_just-black .PageNav :not(.PageJumpContainer) a:not(.currentPage),
.customStyle.preset_just-black .button:not(.primary),
.customStyle.preset_just-black .button.bbCodeSpoilerButton,
.customStyle.preset_just-black .bbCodeHeader,
.customStyle.preset_just-black .xenOverlay.memberCard .userLinks a:not(.primary){box-shadow:inset 0px 0px 0 1px #38485b}.customStyle.preset_just-black
.bbCodeHeader{background-color:transparent !important}.customStyle.preset_just-black
.bbCodeBlock{border:1px
solid}.customStyle.preset_just-black h1 a,
.customStyle.preset_just-black h2 a,
.customStyle.preset_just-black h3
a{-webkit-filter:brightness(1.2);filter:brightness(1.2)}.customStyle.preset_just-black .sidebar .portal_block>.secondaryContent>.block_content{border-width:0 !important}.customStyle.preset_just-black .xenOverlay,
.customStyle.preset_just-black .breadBoxTop,
.customStyle.preset_just-black .gbatemp_ask_overview .nodeList .nodeList,
.customStyle.preset_just-black
.bbCodeHeader{border-radius:8px}@media (max-width:600px){.customStyle.preset_just-black
.breadBoxTop{border-radius:0}}.fancybox-progress{background:rgb(246, 151, 27) !important;height:4px !important}.fancybox-thumbs{background-color:rgba(0, 0, 0, 0.5) !important}.fancybox-thumbs__list a:before{border-color:rgb(246, 151, 27) !important}ol.messageList+.sectionFooter.InlineMod,
ol.messageList+.sectionFooter.InlineMod
.sectionFooter{padding:0;background-color:transparent;line-height:40px}.username .style10, .username
.style45{color:#ef8f00}.username
.style54{color:#709f9a}.message.hasThreadmark
.messageInfo{border-top-right-radius:0;border-top-left-radius:0}.gc_tag{color:rgb(253, 253, 253) !important;font-weight:600 !important;text-decoration:none !important;line-height:1.2em !important;padding-left:5px  !important;padding-right:5px  !important}.gc_tag
img{margin-right:0.3em}.bbCodeQuote .quoteContainer
.quote{transition:max-height .5s ease-in}.bbCodeQuote .quoteContainer.expanded
.quote{max-height:1000px;padding-right:20px;overflow:auto}#taigachat_box::-webkit-scrollbar,
.bbCodeQuote .quoteContainer.expanded .quote::-webkit-scrollbar,
.bbCodeBlock pre::-webkit-scrollbar, .bbCodeBlock .code::-webkit-scrollbar{width:10px}#taigachat_box::-webkit-scrollbar-thumb,
.bbCodeQuote .quoteContainer.expanded .quote::-webkit-scrollbar-thumb,
.bbCodeBlock pre::-webkit-scrollbar-thumb, .bbCodeBlock .code::-webkit-scrollbar-thumb{background:rgb(180, 193, 210);border-radius:4px}#taigachat_box::-webkit-scrollbar-thumb:hover,
.bbCodeQuote .quoteContainer.expanded .quote::-webkit-scrollbar-thumb:hover,
.bbCodeBlock pre::-webkit-scrollbar-thumb:hover, .bbCodeBlock .code::-webkit-scrollbar-thumb:hover{background:rgb(202, 210, 222)}#gbatemp_game_center .screenshots::-webkit-scrollbar, #gbatemp_game_center .videos::-webkit-scrollbar{width:10px;background-color:rgb(222, 227, 234);border-radius:4px}#gbatemp_game_center .screenshots::-webkit-scrollbar-thumb, #gbatemp_game_center .videos::-webkit-scrollbar-thumb{background:rgb(180, 193, 210);border-radius:4px}#gbatemp_game_center .screenshots::-webkit-scrollbar-thumb:hover, #gbatemp_game_center .videos::-webkit-scrollbar-thumb:hover{background:rgb(202,210,222)}input[type=text],input[type=button]{-webkit-appearance:none}.PageNav a .uix_icon,
.message .messageMeta .control:before,
.publicControls .item .uix_icon,
.publicControls .item:before,
.linkGroup .sharePopup .menu .uix_icon,
#shareButtons .shareButtonGrid a:before,
.footer .choosers a .uix_icon-expandWidth,
.review_likes .LikeLink:hover .uix_icon-thumbsUp{-webkit-transform:translateZ(0);-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.PageNav a:hover .uix_icon,
.message .messageMeta .control:hover::before,
.publicControls .item:hover .uix_icon,
.publicControls .item:hover::before,
.linkGroup .sharePopup .menu:hover .uix_icon,
#shareButtons .shareButtonGrid a:hover::before,
.footer .choosers a:hover .uix_icon-expandWidth,
.review_likes .LikeLink:hover .uix_icon-thumbsUp,.ratingRounded.topgame.bounce{-webkit-animation-name:hvr-icon-pop;animation-name:hvr-icon-pop;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:1;animation-iteration-count:1}@media (max-width:600px){.message .messageMeta .item.control:hover{color:rgb(96, 123, 155) !important}.message .messageMeta .item.control:active{color:rgb(246, 151, 27) !important}}@-webkit-keyframes hvr-icon-pop{50%{-webkit-transform:scale(1.2);-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}}@keyframes hvr-icon-pop{50%{-webkit-transform:scale(1.2);-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}}#pageDescription
.description_stats{float:right}#pageDescription
a{color:inherit}#pageDescription
.uix_icon{font-size:14px;margin:0
0.3em}h2.commentsTitle{font-size:20px;font-family:'News Cycle';font-weight:600;margin:0
5px;margin-bottom:10px}@media (max-width:600px){h2.commentsTitle{margin:0
10px;margin-bottom:10px}}.sidebar .sectionMain div:first-child,
.sidebar .sectionMain li:first-child,
.sidebar .section .secondaryContent div:first-child, .sidebar .section .secondaryContent li:first-child,.portal-tutorial{margin-top:0}.sidebar .sectionMain div:last-child, .sidebar .sectionMain li:last-child, .sidebar .section .secondaryContent div:last-child, .sidebar .section .secondaryContent li:last-child{padding-bottom:0;margin-bottom:0}input[type=checkbox],label>input[type=checkbox]:before,input[type=radio],label>input[type=radio]:before,input#ctrl_max_votes_type_value,input#ctrl_max_votes_type_value:before{transition:color .1s ease-out !important}.ctrlUnit
label{cursor:pointer}input[type=checkbox],input[type=radio]{outline:none;cursor:pointer;width:16px;height:0;position:relative;font-size:0;display:inline-block}input[type=checkbox]:before{color:rgb(195, 204, 214);font-family:'Font Awesome 5 Free';content:"\f0c8";font-size:16px;line-height:50%;position:absolute;bottom:2px;left:0}input[type=radio]:before{color:rgb(195, 204, 214);font-family:'Font Awesome 5 Free';content:"\f111";font-size:16px;line-height:50%;position:absolute;bottom:2px;left:0}input[type=checkbox]:checked:before{color:rgb(66,134,214);content:"\f14a"}input[type=radio]:checked:before{color:rgb(246,151,27);content:"\f192"}.xenTooltip.inlineModCheckTip{-moz-transform:translate(-5px,-10px);-webkit-transform:translate(-5px,-10px);-o-transform:translate(-5px,-10px);-ms-transform:translate(-5px,-10px);-webkit-transform:translate(-5px,-10px);-ms-transform:translate(-5px,-10px);transform:translate(-5px,-10px)}.publicControls>.removesig{display:none !important}.ml01{margin-left:0.1em}.ml02{margin-left:0.2em}.ml03{margin-left:0.3em}.ml04{margin-left:0.4em}.ml05{margin-left:0.3em}.ml10{margin-left:1em}.mr01{margin-right:0.1em}.mr02{margin-right:0.2em}.mr03{margin-right:0.3em}.mr04{margin-right:0.4em}.mr05{margin-right:0.5em}.mr10{margin-right:1em}#content .mainContent>.xenForm{max-width:unset}.answered_best{color:green}.unanswered{color:red}.answered_no_best{color:orange}.messageMeta .control.LikeLink.unlike:before,
.messageMeta .control.LikeLink.unlike,
.messageMeta .control.MultiQuoteControl.active:before,
.messageMeta .control.MultiQuoteControl.active,
.LikeLink.unlike span.LikeLabel, .LikeLink.unlike .uix_icon:before{color:rgb(246, 151, 27) !important}a, .button, .textCtrl, a.callToAction span, .categoryGrid .category, #navigation .navTabs .navTab, .node .nodeInfo, .discussionListItem, .messageInfo, #portal_left_navigation li, .portal_block h3, .featured_item h2, .review_title, #rc_switch
li{-o-transition:color .1s ease-out, background-color .1s ease-in;-ms-transition:color .1s ease-out, background-color .1s ease-in;-moz-transition:color .1s ease-out, background-color .1s ease-in;-webkit-transition:color .1s ease-out, background-color .1s ease-in;transition:color .1s ease-out, background-color .1s ease-in}.bigFooterCol .footerMenu
li{display:inline-block}.secondaryContent .secondaryContent,
.portal_block > .block_content
.block_content{padding:0;border-radius:0;overflow:visible}.footer
.choosers.portalCustomize{display:none}#featured_container,
.portal_block > .block_content, .navigationSideBar .heading, .navigationSideBar > ul, #shoutbox .portal_block .secondaryContent .block_content,
#portal_left_navigation li ul,
.avatarHolder, .messageSimple > .avatar img,
.forum_list .nodeList .nodeList, .forum_view .nodeList, .category_view .nodeList, .watch_forums .nodeList,
.accountWrapper,
.gbatemp_ask_overview .node.level_2 .nodeInfo,
.discussionList,
.sidebar .section > .secondaryContent, .thread_view .PollContainer .secondaryContent,
.message .primaryContent, #QuickReply, .commentsList .avatar img, .commentsList .balloon, .messageSimple .messageInfo, .messageSimpleList .placeholder .placeholderContent,
.mainContent > .xenForm,
.sectionMain.newsFeed,
.mainContent > .sectionMain,
.gbatemp_ask_question_view .avatar .img, .gbatemp_ask_question_view #main_question .sectionMain,
#rcReviewsList .category_review_feature, .sectionMain.rcUserReviews, #watched_reviews .sectionMain, .rcContent > .section, .gbatemp_review_view .mainContent>.sectionMain, .review_boxart img, .mobile.review_infobox,
.resourceListMain, .featuredResourceList .featuredResource, .primaryContent.messageSimple.resourceUpdate, .sectionMain.resourceHistory,
.blogEntry,
.notableMemberBlock, .userInfoXP,
.profilePage .primaryUserBlock, .profilePage .avatarScaler img, #recentActivity, #resources, #member_blog_entries, #info .section > .primaryContent, .account_alerts_summary .alertGroup ol,.gcBlock,#helpWrapper,.modCpContent,.profileCover{-moz-box-shadow:0 3px 3px 1px rgba(0, 0, 0, 0.04);-webkit-box-shadow:0 3px 3px 1px rgba(0, 0, 0, 0.04);box-shadow:0 3px 3px 1px rgba(0, 0, 0, 0.04)}.prefixListPrefixes,
.who_is_viewing_list,
.messageUserBlock .extraUserInfo, #threadOp,
.resource_description .section.updates,.thumbContainer{-moz-box-shadow:inset 0 1px 3px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0 1px 3px 0px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px 0px rgba(0, 0, 0, 0.1)}.xenOverlay.memberCard,
.xenOverlay .messageSimple > .avatar img,
.xenOverlay
.messageInfo{box-shadow:0 3px 10px 0px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 3px 10px 0px rgba(0,0,0,0.4)}.justPadding{padding:10px}.portal_block
.news_image{border-radius:5px}.review_pros,.review_cons,.score_score,.category_review_score{border-radius:8px}#pageDescription
.description_meta{display:inline-block;margin-bottom:5px}#pageDescription
.description_stats{float:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}#navigation.adStyler.activeSticky
#navigation_sub_bg.sticky_wrapper{background-color:inherit;height:48px;opacity:0.75;-webkit-filter:saturate(1.4);filter:saturate(1.4)}#navigation.no_adStyler.activeSticky
.sticky_wrapper{background-color:rgba(42, 72, 120, 0.9);box-shadow:0 0px 5px 0px rgba(0,0,0,0.5)}#logo{line-height:unset}#logo
a{display:block}#logo_small, .sidePanel__navTabs
#logo_small{display:none}#logo_small
a{padding-left:0}#navigation{background-color:rgb(21, 47, 90)}#navigation
.pageWidth{padding-right:0;padding-left:0}#navigation .navTab
.SplitCtrl{color:rgb(148, 166, 187) !important}#navigation
#navTitleBlock{display:none}#navigation
.navTitle{line-height:22px;white-space:nowrap;overflow:hidden;position:relative;top:0;transition:top .5s ease 1s}#navigation
.mobileTitle{display:none}.navTempLogo{height:45px;min-height:45px;max-width:160px}.navTempLogo{opacity:1;background:url(https://sefemedical.com/styles/ts3/gbatemp_logoonly_reduced.svg) no-repeat;background-size:contain;background-repeat:no-repeat;background-position:center}.scrollNotTouchingTop
.navTitle{top: -44px !important}#navTitleBlock
span{display:block;color:rgb(253, 253, 253);text-overflow:ellipsis;overflow:hidden}#navTitleBlock .navTitle
.navHeader{font-weight:bold}#navTitleBlock .navTitle
.navSubtitle{font-size:13px}#uix_searchMinimal.show form .uix_icon-close{order:2}#uix_searchMinimal form
.uix_icon{padding:0
15px}#uix_searchMinimalInput input::-webkit-input-placeholder{color:rgb(148, 166, 187) !important}.stickyNavReduced_toggle.navLink
.uix_icon{font-size:1em !important;color:rgb(148,166,187)}.stickyReduce{float:right !important}#navigation.inactiveSticky
.stickyReduce{display:none !important}.navLink .uix_icon-angle-right{margin-right:0 !important}#navigation.activeSticky .sticky_wrapper.stickyNavReduced_on .uix_icon-angle-right:before{content:'\f104' !important}.textCtrl::placeholder{color:rgb(148,166,187)}.textCtrl:focus::placeholder{color:rgb(195,204,214)}.statusPoster,#taigachat_controls{display:flex;flex-direction:row;min-width:0}.submitUnit{display:block !important}.statusPoster .statusEditor,#taigachat_message{flex:1;min-width:0}.statusPoster #statusEditorCounter,
.statusPoster
.statusEditorCounter{font-size:12px;margin-left:5px}.statusPoster .submitUnit,#taigachat_send{white-space:nowrap;text-align:right}.statusPoster
.button{margin-left:5px}.PageNav #PageNavDesktop nav>a:first-child{margin-left:10px;border-radius:5px 0px 0px 5px}.PageNav #PageNavDesktop nav>a:last-child{border-radius:0px 5px 5px 0px;margin-right:0.5em}.PageNav
.unreadLink{border-radius:5px;margin-right:0.5em}.PageNav .PageJumpContainer
a{background-color:unset;width:unset}.node .unread .nodeIcon.hasGlyph
a{color:rgb(246, 151, 27)}.node .unread .nodeIcon.hasGlyph a:hover{color:rgb(247, 175, 88) !important}.nodeList.section{margin-top:0}.node.collapsed
.nodeTitle{color:rgb(148, 166, 187)}.subForumIcon
.uix_icon.unread{color:rgb(66, 134, 214)}.sidebar .section.taigachat_reverse
.secondaryContent{padding-top:0}.PageNav a
.uix_icon{color:rgb(66, 134, 214);font-size:16px}a.PageNavPrev .uix_icon, a.PageNavNext
.uix_icon{color:rgb(148,166,187)}.who_is_viewing_list{background-color:rgb(184, 192, 204);margin:0
5px;border-radius:5px;padding:10px;overflow:hidden}.ForceHide{display:none !important}.mobileOnly,.mobileOnly-inline{display:none !important}.navTab.uix_searchTab{opacity:1;visibility:unset;transition:visibility .5s, opacity .2s linear !important}@media (min-width:600px){#navigation.activeSticky .sticky_wrapper.stickyNavReduced_on .navTab.uix_searchTab,
#navigation.activeSticky .sticky_wrapper.stickyNavReduced_on
.publicTabs{display:none !important}#navigation.activeSticky
.sticky_wrapper.stickyNavReduced_on{left:unset;background-color:inherit !important;opacity:0.75;-webkit-filter:saturate(1.4);filter:saturate(1.4)}}@media (min-width:900px){.Responsive .footerMenu li a:first-child{margin-left:0}}@media (min-width:600px){.Responsive .linkGroup > a,
.Responsive .linkGroup > .Popup,
.Responsive .watch.linkGroup > span
a{background-color:transparent !important}}@media (max-width:600px){.Responsive #content,
.Responsive
.breadBoxTop{margin-top:0}.Responsive
.breadcrumb{border-radius:0}.Responsive .desktopOnly,
.Responsive #AlertsMenu,
.Responsive #ConversationsMenu,
.Responsive .breadcrumb .jumpMenuTrigger,
.Responsive .breadcrumb span.arrow,
.Responsive .breadcrumb .crust:not(:nth-last-child(-n+2)){display:none !important}.Responsive
.breadcrumb{height:35px !important}.Responsive .breadcrumb .crust a.crumb,
.Responsive .breadcrumb
.jumpMenuTrigger{line-height:35px}.Responsive .breadcrumb
.jumpMenuTrigger{font-size:16px}.Responsive
.breadcrumb{font-size:0px;white-space:nowrap}.Responsive .breadcrumb
.crust{font-size:12px;float:none;display:inline-block;text-overflow:ellipsis;overflow:hidden;line-height:35px;max-width:70vw}.Responsive .breadcrumb .crust
a.crumb{padding:0;padding-left:10px}.Responsive .breadcrumb .crust:nth-last-child(2){max-width:35px;padding:0
5px}.Responsive .breadcrumb .crust:not(:last-child) .crumb:before{content:"\f3bf";color:rgb(148, 166, 187);display:inline-block;font-family:'Font Awesome 5 Free';font-size:16px;font-style:normal;font-weight:900;font-display:auto;background:none !important;background-position:unset !important;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-transform:scale(-1, 1);-webkit-transform:scale(-1, 1);-o-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.Responsive .breadcrumb .crust:not(:last-child) .crumb
span{display:none}.Responsive
.mobileOnly{display:block !important}.Responsive .mobileOnly-inline{display:inline-block !important}#mobileSubMenu.mobileOnly{display:none !important}.Responsive
.linkGroup{display:none;padding:10px
0;border-bottom-left-radius:8px;border-bottom-right-radius:8px}.Responsive .InlineModCheck.item,
.Responsive
.InlineModCheck{display:none}.Responsive .linkGroup > a,
.Responsive .linkGroup > .Popup,
.Responsive .watch.linkGroup > span
a{color:rgb(253, 253, 253) !important;font-weight:600;background-color:rgb(66, 134, 214);border-radius:5px;margin:0
5% !important;margin-bottom:5px !important;text-align:center;float:unset;box-shadow:inset 0 -2px 0 rgba(0,0,0,.1);display:block}.Responsive .pageNavLinkGroup .linkGroup > .Popup
a{color:rgb(253, 253, 253) !important}.Responsive
#footerSocial{float:unset}.Responsive #uix_searchMinimal.show
form{padding-right:0}.Responsive
#logoBlock{visibility:hidden;display:none;height:0}.Responsive
#logo_small{display:inline-block;white-space:nowrap}.Responsive #navigation.adStyler.activeSticky
#navigation_sub_bg.sticky_wrapper{opacity:0.9}.Responsive #navigation
.navTabs{display:flex;flex-wrap:nowrap;flex-direction:row;width:100%}.Responsive #navigation .navTabs
.publicTabs{display:flex;flex:1;min-width:0;overflow:hidden}.Responsive #navigation .navTabs
.visitorTabs{flex-shrink:0;flex-wrap:nowrap;position:relative}.Responsive
.navTab.uix_searchTab{position:absolute;top:0;left: -40px}.Responsive.scrollNotTouchingTop .hasTitle:not(.forceBottomNav) .navTab.uix_searchTab{visibility:hidden;opacity:0}.Responsive.scrollNotTouchingTop .hasTitle:not(.forceBottomNav) .navTabs
#logo_small.banner{-webkit-transform:translateY(-45px);-ms-transform:translateY(-45px);transform:translateY(-45px)}.Responsive .navTabs .navTab .navLink>.uix_icon{margin-right:0}.Responsive .navTabs .navTab.account
.navLink{padding:0
7px}.Responsive .navTabs .navTab .navLink>.uix_icon-menu{margin:0
.2em}.Responsive .navTabs .navTab:hover,
.Responsive .navTabs .navTab.PopupClosed:hover,
.Responsive .navTabs
.navTab.Popup.PopupOpen{background-color:unset}}@media (max-width:330px){.Responsive .message .messageDetails
.postNumber{display:none}}.sos.warning,.sos.success,.sos.information,.sos.error{text-align:left;margin:0
0 0 50px;border-top-right-radius:5px;border-bottom-right-radius:5px;padding:5px
15px 15px 15px;min-height:60px;position:relative}.sos.warning:before,.sos.success:before,.sos.information:before,.sos.error:before{border-top-left-radius:5px;border-bottom-left-radius:5px;font-family:'Font Awesome 5 Free';font-size:30px;line-height:1.4em;padding-top:5px;margin-left: -65px;display:inline-block;width:50px;text-align:center;position:absolute;top:0;bottom:0}.sos
.title{display:block;font-size:13pt;font-weight:bold;margin-bottom:10px}.sos.warning{background-color:#FFEB93;color:#846038}.sos.warning:before{background:#FFCB00;color:#A47900;content:'\f12a'}.sos.success{background-color:#EEF4D4;color:#516B17}.sos.success:before{background:#7FAB2B;color:#4C691A;content:'\f00c'}.sos.information{background-color:#C0D9F1;color:#0074CF}.sos.information:before{background:#579FDC;color:#003462;content:'\f129'}.sos.error{background-color:#FBCFCA;color:#AA3321}.sos.error:before{background:#e85743;color:#691D12;content:'\f00d'}.redactor_btn_custom_error,.redactor_btn_custom_information,.redactor_btn_custom_success,.redactor_btn_custom_warning{background-position:3px center !important}
/* CSS returned from cache. */